body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.bulb {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: blue;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
